
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,200&display=swap');
*{

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
 font-family: 'Montserrat', sans-serif;
}
.nav-link{
  background-color:rgba(249, 249, 249, 0);
  color:rgb(255, 255, 255) !important;
  margin:20px;

}
.nav-link:hover{
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.253);
}

#image_phone{
  width: 600px;
 display: flex;
  margin-top:10px;
  justify-content: center;
} 
@media only screen and (max-width:600px) { 
  #image_phone{
    width:300px;
    justify-content: center;
  }
 }

#head_blog{
  margin-left: 30px;
  margin-top:100px;
  padding-right:100px ;
  color: rgb(255, 255, 255);
}
.center_blog{
  padding:50px ;
  margin-top: 50px;
}
#bottom_blog{
  margin-left: 30px;
  margin-top:100px;
  padding-right:100px ;
}
#color-text{
  color: #3e41e0;
}
#background_img{
  width:100%;
  height:100%;
  position: absolute;
  display: flex;
  background-attachment:fixed;
}
/* @media only screen and (max-height:1000px) {
  
  #background_img {
    height:1000px;
  }
} */
.card{
  margin: 30px;
  border:none;
  border-radius:50px;
  transition: all 0.9s;
}
.card:hover{
  transform:scale(1.15);
   box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.9);
  
}
.card_section{
  margin-top:50px;
}
span{
  font-weight:800;
  color: #3d40fb;
  
}
.custom-shape-divider-top-1692602914 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1692602914 svg {
    position: relative;
    display: block;
    width: calc(223% + 1.3px);
    height: 240px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1692602914 .shape-fill {
    fill: #e9e6e6;
}
#btm{
  margin:50px;
}

@media only screen and (max-width:100px) { 
  #btm{
    width:900px;
  }
 }

#btm_01:hover{
  background-color: rgba(87, 162, 238, 0.386);
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.9);

}

